<!-- <%# @user.orders.each do |order| %>
  <%=# order.date  %>
  <%=# order.total  %>
<h1>My Orders</h1>

I like kittens
<!-- <%# @user.orders.each do |order| %>
  <%#= order.date  %>
  <%#= order.total  %>
<%# end %> -->
