<form action="<%= cart_path %>" method="get">
  <button id="cart-button" class="btn btn-default navbar-btn" >
    <span class="glyphicon glyphicon-shopping-cart"></span><%= cart.total_quantity %>
  </button>
</form>
