<div class="item active">
  <img src="https://s3.amazonaws.com/rolands_pics/cuban+photography/inside+resturant/barbottles.jpg" alt="First slide">
    <div class="container">
      <div class="carousel-caption about-caption">
      <h1>The Frita Team</h1>
        <p>Your order is ready. You're welcome.</p>
        <%= link_to 'Return to Menu', root_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
