
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: -20%;
  margin-right: -20%;
  padding:10% 15%;
  font-family: Josefin Sans, sans serif;
}
.scroll-indicator {
  font-size: 6em;
}
.scroll-menu-text {
  left: 45%;
  /* color: rgba(208, 168, 37, 1); */
  color: rgba(255, 255, 255, .8);
  z-index: 1000;
}
#scroll-down {
  left: 47%;
  color: rgba(255, 255, 255, .5);
}
.scroll-menu-text,
#scroll-down {
  position: absolute;
  z-index: 999;
  opacity: 1;
  top: 88%;
}
#email, #password {
  -webkit-transition: transform;
  transition: transform 1s;
}
.highlight-login {
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

#gritter-item-1 > div{
color: black;
border: solid 1px black;
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(245,245,245,0.86) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.93)), color-stop(100%, rgba(245,245,245,0.86)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(245,245,245,0.86) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(245,245,245,0.86) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(245,245,245,0.86) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.93) 47%, rgba(245,245,245,0.86) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
font-size: 16px;
}
.order-totals {
  font-weight: bold;
  font-size: 18px;
}
ul.nav.navbar-nav.navbar-right > li > a {
  color: rgba(255, 255, 255, 0.6);
}

ul.nav.navbar-nav.navbar-right > li > a:hover {
  color: red;
}
#cart-button {
  background-color: black;
  color: rgba(255, 255, 255, .4);
  margin-top: 8px;
}
#cart-button:hover {
  color:red;
  background-color: rgba(0, 0, 0, .2);
}
.user-name {
  color: red;
  text-decoration: none;
}
.glyphicon-shopping-cart {
  color: rgba(255, 255, 255, .4);
  margin-right: 15px;
}
#cart-button:hover .glyphicon-shopping-cart {
  color: red;
  border-color: red;
}
html *{
    font-family: 'Josefin Sans', sans-serif;

}

#admin_categories_edit_table{
}



.category_titles{
  font-family: 'Pacifico', cursive;

}


#sidebar{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

#masthead{
  color: red;
  font-family: 'seasideresortnfregular';

}

#menu_items{
  box-shadow: 10px 10px 5px #888888;
  box-shadow: 8px 6px 12px #888888;
  font-family: 'Josefin Sans', sans-serif;
}

#whitespace{
}

#menu_item_pics{
  max-height: 167px;
}

@font-face {
    font-family: 'seasideresortnfregular';
    src: font-url('SEASRN__-webfont.eot');
    src: font-url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('SEASRN__-webfont.woff') format('woff'),
         url('SEASRN__-webfont.ttf') format('truetype'),
         url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



body{
  margin: 0;
  padding-top: 50px;
  font-family: sans-serif;
}
.flash{
  text-align: center;
  padding: 10px;
}

.errors{
  background: #ED4E4E;
}

.notice{
  background: #94D487;
}


#site_title{
 font-family: 'seasideresortnfregular';
 font-size: 48px;
 color: red;
}

#nav_bar{
  background-color: #000000;
  height: 56px;
  border-bottom: solid 4px #D0A825;
  margin-bottom: 0px;
}

#user_welcome{
 margin-top: 14px;
}

#login{
  padding-top: 10px;
}

#myCarousel > div{
  height: 700px;
}

#myCarousel{
  height: 700px;
  margin-bottom: 10px;
}



/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

#new_item_button{
  float: right;
}

#masthead {
 min-height:149px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:50px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

.admin-items{
  padding-top:  25px;
}







.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;

  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }



  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
