<%= form_for(@category, html: {multipart: true}) do |f| %>
<p><%= f.text_field :title, :id => 'title', placeholder: "Title" %></p>
<p><%= f.text_area :description, :id => 'description', placeholder: "Description" %></p>

<%= f.submit "Save Item", :id => 'save' %>
<% end %>
