<div class="padded-container">
  <div class="paid-format">
    <div class="container">
      <h2>Thanks, you paid <strong><%= number_to_currency(@order.subtotal) %></strong>!</h2>
    </div>
  </div>
</div>
