<div class="container">
  <%= form_tag charges_path(id: @order.id) do %>
  <article>
    <label class="amount">
      <span><h1 class="page-header">Pay Securely with Stripe</h1></span>
    </label>
  </article>



  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Thanks for Ordering!"
  data-amount="<%= @order.stripe_total %>"></script>
  <% end %>

  <div>